@tailwind base;
@tailwind components;
@tailwind utilities;
.image_crousel{
    height: 100%;
    width: 100%;
    aspect-ratio:4/3;
    object-fit:fill;
  
}

.text-h{
    display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 2.2em;
	
}
i {
	display: inline-block;
	font-style: normal;
	
	-webkit-transform: scale(0) translate3d(0, -2000px, 0);
	   -moz-transform: scale(0) translate3d(0, -2000px, 0);
		-ms-transform: scale(0) translate3d(0, -2000px, 0);
		 -o-transform: scale(0) translate3d(0, -2000px, 0);
			transform: scale(0) translate3d(0, -2000px, 0);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
}
i.fly-in-out {
	-webkit-animation: fly-in-out 6s infinite ease-in-out;
	   -moz-animation: fly-in-out 6s infinite ease-in-out;
		 -o-animation: fly-in-out 6s infinite ease-in-out;
			animation: fly-in-out 6s infinite ease-in-out;
}

@-webkit-keyframes fly-in-out {
	0% {
		-webkit-transform: scale(0) translate3d(0, -1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		
		-webkit-transform: scale(0) translate3d(0, 1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-moz-keyframes fly-in-out {
	0% {
		-moz-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-moz-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
	
		-moz-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-o-keyframes fly-in-out {
	0% {
		-o-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
	
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-o-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		
		-o-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@keyframes fly-in-out {
	0% {
		transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
	
		transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}


html {
    scroll-behavior: smooth;
  }

  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #051937; 
    background: #00b3bf; 
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
  
    background: #051937 ; 
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00b3bf; 
  }
  .leaf1{
	border-bottom-left-radius: 4rem;
	border-top-right-radius: 4rem;
   }
   .leaf2{
	border-bottom-right-radius: 4rem;
	border-top-left-radius: 4rem;
   }
   .leaf3{
	border-bottom-right-radius: 4rem;
	border-top-left-radius: 4rem;
   }
   .leaf4{
	border-top-right-radius: 4rem;
	border-bottom-left-radius: 4rem;
   }
   .bubbles{
	position:absolute;
	width:100%;
	height: 100%;
	z-index:0;
	overflow:hidden;
	top:0;
	left:0;
  }
  .bubble{
	position: absolute;
	bottom:-100px;
	width:100px;
	height: 100px;
	
	border-radius:50%;
	opacity:0.5;
	animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
	width:100px;
	height:100px;
	left:10%;
	animation-duration:8s;
  }
  .bubble:nth-child(2){
	width:90px;
	height:90px;
	left:20%;
	animation-duration:5s;
	animation-delay:1s;
  }
  .bubble:nth-child(3){
	width:90px;
	height:90px;
	left:35%;
	animation-duration:7s;
	animation-delay:2s;
  }
  .bubble:nth-child(4){
	width:80px;
	height:70px;
	left:50%;
	animation-duration:11s;
	animation-delay:0s;
  }
  .bubble:nth-child(5){
	width:65px;
	height:45px;
	left:55%;
	animation-duration:6s;
	animation-delay:1s;
  }
  .bubble:nth-child(6){
	width:45px;
	height:45px;
	left:65%;
	animation-duration:8s;
	animation-delay:3s;
  }
  .bubble:nth-child(7){
	width:90px;
	height:90px;
	left:70%;
	animation-duration:12s;
	animation-delay:2s;
  }
  .bubble:nth-child(8){
	width:55px;
	height:50px;
	left:80%;
	animation-duration:6s;
	animation-delay:2s;
  }
  .bubble:nth-child(9){
	width:75px;
	height:65px;
	left:70%;
	animation-duration:5s;
	animation-delay:1s;
  }
  .bubble:nth-child(10){
	width:90px;
	height:90px;
	left:25%;
	animation-duration:10s;
	animation-delay:4s;
  }
  @keyframes rise{
	0%{
	  bottom:-100px;
	  transform:translateX(0);
	}
	50%{
	  transform:translate(100px);
	}
	100%{
	  bottom:1080px;
	  transform:translateX(-200px);
	}
  }

